.upload-question-modal {
    .upload-question-modal__header{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;
    }

    &__card {
        border: none;
    }

    &__header {
        text-align: center;
        margin-bottom: 30px;

        &-icon {
            font-size: 64px;
            color: #1890ff;
        }

        &-title {
            margin-top: 20px;
        }
    }

    &__dragger {
        padding: 20px;

        .ant-upload-drag-icon {
            font-size: 48px;
            color: #1890ff;
        }
    }

    &__alert {
        margin-top: 16px;
    }

    &__action {
        text-align: center;
        margin-top: 30px;
    }

    &__zip-structure {
        ul {
            margin: 8px 0 0 16px;
            padding: 0;

            li {
                list-style: disc;
                margin-bottom: 4px;

                svg {
                    margin-right: 6px;
                }
            }
        }
    }
}